@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nerko+One&display=swap');
/*
font-family: 'Architects Daughter', cursive;
font-family: 'Nerko One', cursive;
*/

:root {
  --mainColor: #236a62;
  --mainColor-dark: #00352f;
  --mainColor-dark2: #0d4f48;
  --mainColor-light: #42847d;
  --mainColor-light2: #6a9e98;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Architects Daughter', cursive;
  background-color: var(--mainColor);
  letter-spacing: 0.2rem;
}
